params {

    container = "$HOME/bin/metawrap.sif"
    ncbi_nt = "$HOME/NCBI_nt"
    
    assembly_memory = 128
    assembly_threads = 64

    process_memory = 64
    process_threads = 32

    scratch = false
    error_strategy = "ignore"

}

process {
    
    withLabel: metawrap_qc {
        cpus = params.process_threads
        memory = "${params.process_memory}G"
        time = "24h"
    }
    withLabel: metawrap_assembly {
        cpus = params.assembly_threads
        memory = "${params.assembly_memory}G"
        time = "72h"
    }
    withLabel: metawrap_binning {
        cpus = params.process_threads
        memory = "${params.process_memory}G"
        time = "24h"
    }
    withLabel: metawrap_binassembly {
        cpus = params.assembly_threads
        memory = "${params.assembly_memory}G"
        time = "72h"
    }
    withLabel: metawrap_binops {
        cpus = params.process_threads
        memory = "${params.process_memory}G"
        time = "24h"
    }


}


profiles {
    docker {
        docker.enabled = true
        docker.runOptions = "-v ${params.ncbi_nt}:/NCBI_nt"
        process.executor = "local"
        process.container = params.container
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = false
        singularity.runOptions = "-B ${params.ncbi_nt}:/NCBI_nt"
        process.executor = "local"
        process.container = params.container
    }
    docker_gpu {
        docker.enabled = true
        docker.runOptions = "--gpus all -v ${params.ncbi_nt}:/NCBI_nt"
        process.executor = "local"
        process.container = params.container
    }
    singularity_gpu {
        singularity.enabled = true
        singularity.autoMounts = false
        singularity.runOptions = "--nv -B ${params.ncbi_nt}:/NCBI_nt"
        process.executor = "local"
        process.container = params.container
    }
    zodiac {
        singularity.runOptions = "-B ${params.ncbi_nt}:/NCBI_nt"
        singularity.enabled = true
        singularity.autoMounts = true
        process.executor = "pbspro"
        process.container = params.container
    }
    tesla {
        singularity.runOptions = "--nv -B ${params.ncbi_nt}:/NCBI_nt"
        singularity.enabled = true
        singularity.autoMounts = true
        process.executor = "local"
        process.container = params.container
    }
}
