pandas
numpy
scikit-image
scikit-learn
h5py
scipy
tqdm
seaborn
matplotlib
colorama
pymongo
mongoengine
keras
click
pyyaml
pytest
wget
watchdog
paramiko
numpy
tqdm
colorama
pymongo
mongoengine
ont_fast5_api
pandas
paramiko
scp
scikit-image
scipy
watchdog
apscheduler
click
deprecation
pyfastx==0.8.2
drep